<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="cn.dong.demo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问储存卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--  -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- New-->
        <activity android:name=".ui.creation.FlexibleHeaderRecyclerViewActivity"/>
        <activity android:name=".ui.userinterface.ViewPagerActivity"/>
        <activity android:name=".ui.textandinput.TextViewActivity"/>
        <activity android:name=".ui.userinterface.FragmentTabHostActivity"/>
        <activity android:name=".ui.other.Md5Activity"/>
        <activity android:name=".ui.creation.FadeoutHeaderRecyclerViewActivity"/>
        <activity android:name=".ui.other.ScreenshotActivity"/>
        <activity android:name=".ui.other.ImageSelectorActivity"/>
        <activity android:name=".ui.animation.MarkAnimationActivity"/>

        <!-- Old-->
        <activity android:name=".ui.main.NewMainActivity"/>
        <activity android:name=".ui.creation.FlowLayoutActivity"/>
        <activity android:name=".ui.userinterface.SwipeRefreshLayoutActivity"/>
        <activity android:name=".ui.locationandsensors.GeocoderActivity"/>
        <activity android:name=".ui.creation.calendar.CalendarActivity"/>
        <activity android:name=".ui.components.IntentsActivity"/>
        <activity android:name=".ui.other.PackageManagerActivity"/>
        <activity android:name=".ui.userinterface.DialogActivity"/>
        <activity android:name=".ui.textandinput.AutoCompleteActivity"/>
        <activity android:name=".ui.textandinput.TextSizeActivity"/>
        <activity android:name=".ui.datastorage.ContentProviderActivity"/>
        <activity android:name=".ui.animation.AnimationActivity"/>
        <activity android:name=".ui.userinterface.PopupWindowActivity"/>
        <activity android:name=".ui.userinterface.touch.TouchEventActivity"/>
        <activity android:name=".ui.other.WebViewActivity"/>
        <activity android:name=".ui.components.FragmentManageActivity"/>

        <!-- Image -->
        <activity android:name=".ui.userinterface.DrawableStateActivity"/>
        <activity android:name=".ui.librarys.ImageLoaderActivity"/>
        <activity android:name=".ui.datastorage.BitmapSaveLocalActivity"/>

        <!-- List -->
        <activity android:name=".ui.librarys.XListViewActivity"/>
        <activity android:name=".ui.userinterface.RecyclerViewActivity"/>

        <provider
            android:name=".provider.MyProvider"
            android:authorities="cn.dong.demo.provider"
            android:exported="false"/>

    </application>

</manifest>
